openapi: 3.0.0

info:
  title: Bitmap Community
  description: "Bitmap Community File Inscription Service"
  version: 0.0.1

servers:
  - url: "https://file-inscription-backend.onrender.com/api"
  - url: "http://localhost:8081/api"

tags:
  - name: Inscription
  - name: Status

paths:
  /inscribe/text:
    post:
      summary: Create new text inscription.
      tags:
        - Inscription
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TextInscription"
      responses:
        "200":
          description: Text Inscription Success!
          content:
            application/json:
              schema:
                type: string
        "400":
          description: Text Inscription Failed!
          content:
            application/json:
              schema:
                type: string
  /inscribe/file:
    post:
      summary: Create new file inscription.
      tags:
        - Inscription
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/FileInscription"
      responses:
        "200":
          description: File Inscription Success!
          content:
            application/json:
              schema:
                type: string
        "400":
          description: File Inscription Failed!
          content:
            application/json:
              schema:
                type: string
  /status/price:
    get:
      summary: Get Current bitcoin price
      tags:
        - Status
      responses:
        "200":
          description: Current Bitcoin Price
          content:
            application/json:
              schema:
                type: string
        "400":
          description: Get Bitcoin Price Failed!
          content:
            application/json:
              schema:
                type: string
  /status/avgFeeRate:
    get:
      summary: Get last 15 blocks average feeRate
      tags:
        - Status
      responses:
        "200":
          description: Last 15 blocks average feeRate
          content:
            application/json:
              schema:
                type: string
        "400":
          description: Get average feeRate failed!
          content:
            application/json:
              schema:
                type: string
components:
  schemas:
    TextInscription:
      type: object
      properties:
        receiveAddress:
          type: string
          example: tb1pxa7j0z4s0ns6vm532z9qnv292mnvhuc05nxd69zns9rcxqegcunq6wrmjl
        content:
          type: string
          example: 350.364807.bitmap
        feeRate:
          type: number
          example: 50
        padding:
          type: number
          example: 546
      required:
        - receiveAddress
        - content
        - feeRate
        - padding
    FileInscription:
      type: object
      properties:
        receiveAddress:
          type: string
          example: tb1pxa7j0z4s0ns6vm532z9qnv292mnvhuc05nxd69zns9rcxqegcunq6wrmjl
        feeRate:
          type: number
          example: 50
        file:
          type: string
          format: binary
        padding:
          type: string
          example: 546
      required:
        - receiveAddress
        - feeRate
        - file
        - padding