openapi: 3.0.1

info:
  title: Bitmap Community
  description: "Bitmap Community File Inscription Service"
  version: 0.0.1

servers:
  - url: "https://file-inscription-backend.onrender.com/api"
  - url: "http://localhost:8081/api"

tags:
  - name: Inscription
  - name: Status
  - name: Fee-Estimate

paths:
  /inscribe/text:
    post:
      summary: Create new text inscription.
      tags:
        - Inscription
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TextInscription"
      responses:
        "200":
          description: Text Inscription Success!
          content:
            application/json:
              schema:
                type: string
        "400":
          description: Text Inscription Failed!
          content:
            application/json:
              schema:
                type: string
  /inscribe/bulk-text:
    post:
      summary: Create new bulk text inscription.
      tags:
        - Inscription
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BulkTextInscription"
      responses:
        "200":
          description: Bulk Text Inscription Success!
          content:
            application/json:
              schema:
                type: string
        "400":
          description: Bulk Text Inscription Failed!
          content:
            application/json:
              schema:
                type: string
  /inscribe/file:
    post:
      summary: Create new file inscription.
      tags:
        - Inscription
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/FileInscription"
      responses:
        "200":
          description: File Inscription Success!
          content:
            application/json:
              schema:
                type: string
        "400":
          description: File Inscription Failed!
          content:
            application/json:
              schema:
                type: string
  /multi-inscribe/text:
    post:
      summary: Create new text inscription.
      tags:
        - Inscription
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MultiTextInscription"
      responses:
        "200":
          description: Text Inscription Success!
          content:
            application/json:
              schema:
                type: string
        "400":
          description: Text Inscription Failed!
          content:
            application/json:
              schema:
                type: string
  /multi-inscribe/bulk-text:
    post:
      summary: Create new bulk text inscription.
      tags:
        - Inscription
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MultiBulkTextInscription"
      responses:
        "200":
          description: Bulk Text Inscription Success!
          content:
            application/json:
              schema:
                type: string
        "400":
          description: Bulk Text Inscription Failed!
          content:
            application/json:
              schema:
                type: string
  /multi-inscribe/file:
    post:
      summary: Create new file inscription.
      tags:
        - Inscription
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/MultiFileInscription"
      responses:
        "200":
          description: File Inscription Success!
          content:
            application/json:
              schema:
                type: string
        "400":
          description: File Inscription Failed!
          content:
            application/json:
              schema:
                type: string
  /estimate/text-estimate-fee:
    post:
      summary: Text Fee Estimate.
      tags:
        - Fee-Estimate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TextEstimateFee"
      responses:
        "200":
          description: Text Fee Estimage Success!
          content:
            application/json:
              schema:
                type: string
        "400":
          description: Text Fee Estimage Success!
          content:
            application/json:
              schema:
                type: string
  /estimate/bulk-text-estimate-fee:
    post:
      summary: Bulk Text Fee Estimate.
      tags:
        - Fee-Estimate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BulkTextEstimateFee"
      responses:
        "200":
          description: Bulk Text Fee Estimage Success!
          content:
            application/json:
              schema:
                type: string
        "400":
          description: Bulk Text Fee Estimage Failed!
          content:
            application/json:
              schema:
                type: string
  /estimate/file-estimate-fee:
    post:
      summary: File Inscription Fee Estimate
      tags:
        - Fee-Estimate
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/FileEstimateFee"
      responses:
        "200":
          description: File Fee Estimate Success!
          content:
            application/json:
              schema:
                type: string
        "400":
          description: File Fee Estimate Failed!
          content:
            application/json:
              schema:
                type: string
  /status/price:
    get:
      summary: Get Current bitcoin price
      tags:
        - Status
      responses:
        "200":
          description: Current Bitcoin Price
          content:
            application/json:
              schema:
                type: string
        "400":
          description: Get Bitcoin Price Failed!
          content:
            application/json:
              schema:
                type: string
  /status/avgFeeRate:
    get:
      summary: Get last 15 blocks average feeRate
      tags:
        - Status
      responses:
        "200":
          description: Last 15 blocks average feeRate
          content:
            application/json:
              schema:
                type: string
        "400":
          description: Get average feeRate failed!
          content:
            application/json:
              schema:
                type: string
  /status/recomFeeRate:
    get:
      summary: Get recommended block feeRate
      tags:
        - Status
      responses:
        "200":
          description: Recommended block feeRate Success!
          content:
            application/json:
              schema:
                type: string
        "400":
          description: Recommended block feeRate Failed!
          content:
            application/json:
              schema:
                type: string
  /wallet/split:
    get:
      summary: Split large UTXO of Admin wallet
      tags:
        - Status
      responses:
        "200":
          description: Split large UTXO of Admin wallet Success!
          content:
            application/json:
              schema:
                type: string
        "400":
          description: Split large UTXO of Admin wallet Failed!
          content:
            application/json:
              schema:
                type: string
components:
  schemas:
    TextInscription:
      type: object
      properties:
        receiveAddress:
          type: string
          example: tb1pxa7j0z4s0ns6vm532z9qnv292mnvhuc05nxd69zns9rcxqegcunq6wrmjl
        content:
          type: string
          example: 360.364807.bitmap
        feeRate:
          type: number
          example: 60
        padding:
          type: number
          example: 546
      required:
        - receiveAddress
        - content
        - feeRate
        - padding
    BulkTextInscription:
      type: object
      properties:
        receiveAddress:
          type: string
          example: tb1pxa7j0z4s0ns6vm532z9qnv292mnvhuc05nxd69zns9rcxqegcunq6wrmjl
        contents:
          type: string
          example: '{ "data": ["360bitmap", "361bitmap.362bitmap", "361bitmap.362bitmap361bitmap", "361bitmap.362bitmap361bitmap.362bitmap"] }'
        feeRate:
          type: number
          example: 60
        padding:
          type: number
          example: 546
      required:
        - receiveAddress
        - content
        - feeRate
        - padding
    FileInscription:
      type: object
      properties:
        receiveAddress:
          type: string
          example: tb1pxa7j0z4s0ns6vm532z9qnv292mnvhuc05nxd69zns9rcxqegcunq6wrmjl
        feeRate:
          type: number
          example: 60
        file:
          type: string
          format: binary
        padding:
          type: string
          example: 546
      required:
        - receiveAddress
        - feeRate
        - file
        - padding
    MultiTextInscription:
      type: object
      properties:
        receiveAddress:
          type: string
          example: '{ "data": ["tb1pxa7j0z4s0ns6vm532z9qnv292mnvhuc05nxd69zns9rcxqegcunq6wrmjl", "tb1ppx220ln489s5wqu8mqgezm7twwpj0avcvle3vclpdkpqvdg3mwqsvydajn"] }'
        content:
          type: string
          example: 360.364807.bitmap
        feeRate:
          type: number
          example: 60
        padding:
          type: number
          example: 546
      required:
        - receiveAddress
        - content
        - feeRate
        - padding
    MultiBulkTextInscription:
      type: object
      properties:
        receiveAddress:
          type: string
          example: '{ "data": ["tb1pxa7j0z4s0ns6vm532z9qnv292mnvhuc05nxd69zns9rcxqegcunq6wrmjl", "tb1ppx220ln489s5wqu8mqgezm7twwpj0avcvle3vclpdkpqvdg3mwqsvydajn"] }'
        contents:
          type: string
          example: '{ "data": ["360bitmap", "361bitmap.362bitmap", "361bitmap.362bitmap361bitmap", "361bitmap.362bitmap361bitmap.362bitmap"] }'
        feeRate:
          type: number
          example: 60
        padding:
          type: number
          example: 546
      required:
        - receiveAddress
        - content
        - feeRate
        - padding
    MultiFileInscription:
      type: object
      properties:
        receiveAddress:
          type: string
          example: '{ "data": ["tb1pxa7j0z4s0ns6vm532z9qnv292mnvhuc05nxd69zns9rcxqegcunq6wrmjl", "tb1ppx220ln489s5wqu8mqgezm7twwpj0avcvle3vclpdkpqvdg3mwqsvydajn"] }'
        feeRate:
          type: number
          example: 60
        file:
          type: string
          format: binary
        padding:
          type: string
          example: 546
      required:
        - receiveAddress
        - feeRate
        - file
        - padding
    TextEstimateFee:
      type: object
      properties:
        content:
          type: string
          example: 360.364807.bitmap
        feeRate:
          type: number
          example: 60
        padding:
          type: number
          example: 546
      required:
        - content
        - feeRate
        - padding
    BulkTextEstimateFee:
      type: object
      properties:
        contents:
          type: string
          example: '{ "data": ["360bitmap", "361bitmap.362bitmap", "361bitmap.362bitmap361bitmap", "361bitmap.362bitmap361bitmap.362bitmap"] }'
        feeRate:
          type: number
          example: 60
        padding:
          type: number
          example: 546
      required:
        - content
        - feeRate
        - padding
  
    FileEstimateFee:
      type: object
      properties:
        feeRate:
          type: number
          example: 60
        file:
          type: string
          format: binary
        padding:
          type: string
          example: 546
      required:
        - feeRate
        - file
        - padding