openapi: 3.0.1

info:
  title: Oxnome
  description: "Oxnome Inscription Service"
  version: 0.0.1

servers:
  - url: "https://file-inscription-backend.onrender.com/api"
  - url: "http://localhost:8081/api"

tags:
  - name: Status
  - name: Inscribe
  - name: Estimate

paths:
  /status/price:
    get:
      summary: Get Current bitcoin price
      tags:
        - Status
      responses:
        "200":
          description: Current Bitcoin Price
          content:
            application/json:
              schema:
                type: string
        "400":
          description: Get Bitcoin Price Failed!
          content:
            application/json:
              schema:
                type: string
  /status/avgFeeRate:
    get:
      summary: Get last 15 blocks average feeRate
      tags:
        - Status
      responses:
        "200":
          description: Last 15 blocks average feeRate
          content:
            application/json:
              schema:
                type: string
        "400":
          description: Get average feeRate failed!
          content:
            application/json:
              schema:
                type: string
  /status/recommendFeeRate:
    get:
      summary: Get recommended block feeRate
      tags:
        - Status
      responses:
        "200":
          description: Recommended block feeRate Success!
          content:
            application/json:
              schema:
                type: string
        "400":
          description: Recommended block feeRate Failed!
          content:
            application/json:
              schema:
                type: string
  /wallet/utxo-split:
    get:
      summary: Split large UTXO of Admin wallet
      tags:
        - Status
      responses:
        "200":
          description: Split large UTXO of Admin wallet Success!
          content:
            application/json:
              schema:
                type: string
        "400":
          description: Split large UTXO of Admin wallet Failed!
          content:
            application/json:
              schema:
                type: string

  /inscribe/text:
    post:
      summary: Create new Text Inscription
      tags:
        - Inscribe
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/TextInscription"
      responses:
        "200":
          description: Text Inscription Success!
          content:
            application/json:
              schema:
                type: string
        "400":
          description: Text Inscription Failed!
          content:
            application/json:
              schema:
                type: string
  /inscribe/file:
    post:
      summary: Create new file inscription.
      tags:
        - Inscribe
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/FileInscription"
      responses:
        "200":
          description: File Inscription Success!
          content:
            application/json:
              schema:
                type: string
        "400":
          description: File Inscription Failed!
          content:
            application/json:
              schema:
                type: string
  /inscribe/delegate:
    post:
      summary: Create new Delegate Inscription
      tags:
        - Inscribe
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/DelegateInscription"
      responses:
        "200":
          description: Delegate Inscription Success!
          content:
            application/json:
              schema:
                type: string
        "400":
          description: Delegate Inscription Failed!
          content:
            application/json:
              schema:
                type: string
  /sendOrdinal/getSendingOrdinalBtcPsbt:
    post:
      summary: Get new Sending Ordinals Psbt
      tags:
        - Inscribe
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/SendingOrdialBtcPsbt"
      responses:
        "200":
          description: Get new Sending Ordinals Psbt Success!
          content:
            application/json:
              schema:
                type: string
        "400":
          description: Get new Sending Ordinals Psbt Failed!
          content:
            application/json:
              schema:
                type: string
        
  
  /estimate/text:
    post:
      summary: Estimate Text Inscription
      tags:
        - Estimate
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/TextInscription"
      responses:
        "200":
          description: Estimate Text Inscription Success!
          content:
            application/json:
              schema:
                type: string
        "400":
          description: Estimate Text Inscription Failed!
          content:
            application/json:
              schema:
                type: string
  /estimate/file:
    post:
      summary: Estimate file inscription
      tags:
        - Estimate
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/FileInscription"
      responses:
        "200":
          description: Estimate File Inscription Success!
          content:
            application/json:
              schema:
                type: string
        "400":
          description: Estimate File Inscription Failed!
          content:
            application/json:
              schema:
                type: string
  /estimate/delegate:
    post:
      summary: Estimate Delegate Inscription
      tags:
        - Estimate
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/DelegateInscription"
      responses:
        "200":
          description: Estimate Delegate Inscription Success!
          content:
            application/json:
              schema:
                type: string
        "400":
          description: Estimate Delegate Inscription Failed!
          content:
            application/json:
              schema:
                type: string

components:
  schemas:
    TextInscription:
      type: object
      properties:
        receiveAddress:
          type: string
          example: tb1prapjugegwv9safaremcuprnzt4q3gwz6wdh4qf7qfst7jxt3x6wq2cznt3
        contents:
          type: array
          items:
            type: string
            example: 350.364807.bitmap
        feeRate:
          type: number
          example: 130
        padding:
          type: number
          example: 546
        parentId:
          type: string
          example: 30c67a49cb4525896435967a727410d4c3eb16f5d9743ea497b85da859755d01i1
        metadata:
          type: string
          example: '{"type":"dog","size":"medium"}'
        metaprotocol:
          type: string
          example: bitmap.community
        reinscriptionId:
          type: string
          example: 30c67a49cb4525896435967a727410d4c3eb16f5d9743ea497b85da859755d01i0
      required:
        - receiveAddress
        - contents
        - feeRate
        - padding
    FileInscription:
      type: object
      properties:
        receiveAddress:
          type: string
          example: tb1prapjugegwv9safaremcuprnzt4q3gwz6wdh4qf7qfst7jxt3x6wq2cznt3
        feeRate:
          type: number
          example: 130
        files:
          type: array
          items:
            type: string
            format: binary
        padding:
          type: string
          example: 546
        parentId:
          type: string
          example: b01e86b038b50152ef9f881a5a00e789c6f662cb8918867cb3c9016683e235bai0
        metadata:
          type: string
          example: '{"type":"dog","size":"medium"}'
        metaprotocol:
          type: string
          example: bitmap.community
        reinscriptionId:
          type: string
          example: 37f99b351cc636a98b476e3f333695cc5442064141cda10a61f5729600c52893i0
      required:
        - receiveAddress
        - feeRate
        - files
        - padding
    DelegateInscription:
      type: object
      properties:
        receiveAddress:
          type: string
          example: tb1prapjugegwv9safaremcuprnzt4q3gwz6wdh4qf7qfst7jxt3x6wq2cznt3
        delegateId:
          type: array
          items:
            type: string
            example: b01e86b038b50152ef9f881a5a00e789c6f662cb8918867cb3c9016683e235bai0
        feeRate:
          type: number
          example: 130
        padding:
          type: number
          example: 546
        parentId:
          type: string
          example: b01e86b038b50152ef9f881a5a00e789c6f662cb8918867cb3c9016683e235bai0
        metadata:
          type: string
          example: '{"type":"dog","size":"medium"}'
        metaprotocol:
          type: string
          example: bitmap.community
        reinscriptionId:
          type: string
          example: 37f99b351cc636a98b476e3f333695cc5442064141cda10a61f5729600c52893i0
      required:
        - receiveAddress
        - delegateId
        - feeRate
        - padding
    SendingOrdialBtcPsbt:
      type: object
      properties:
        receiveAddress:
          type: string
          example: tb1prapjugegwv9safaremcuprnzt4q3gwz6wdh4qf7qfst7jxt3x6wq2cznt3
        feeRate:
          type: number
          example: 130
        parentId:
          type: string
          example: b01e86b038b50152ef9f881a5a00e789c6f662cb8918867cb3c9016683e235bai0
        reinscriptionId:
          type: string
          example: 37f99b351cc636a98b476e3f333695cc5442064141cda10a61f5729600c52893i0
        btcAmount:
          type: number
          example: 100000
        publicKey:
          type: string
          example: 03cd6f1283151e05d2c0a2ad6faa38c43e807d7039a68356df950c489957e4c754
      required:
        - receiveAddress
        - feeRate
        - btcAmount
        - publicKey